<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="51b18b23-69ed-4b53-8198-772714ec2e34" Publisher="CN=Timothy" Version="1.0.0.0" />
  <Properties>
    <DisplayName>AwfulForumsReader.Windows</DisplayName>
    <PublisherDisplayName>Timothy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AwfulForumsReader.Windows.App">
      <m2:VisualElements DisplayName="Awful Forums Reader" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="AwfulForumsReader.Windows" ForegroundText="light" BackgroundColor="#1E72C9" ToastCapable="true">
        <m2:DefaultTile ShortName="Awful Forums Reader" DefaultSize="wide310x150Logo" Wide310x150Logo="Assets\Wide310x150Logo.png">
        </m2:DefaultTile>
        <m2:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#f4f4f4" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AwfulForumsReader.BackgroundStatus.BackgroundNotifyStatus">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>