<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AwfulForumsLibrary" version="0.0.3" targetFramework="portable-win81+wpa81" />
  <package id="EntityFramework" version="7.0.0-beta2-11614" targetFramework="portable-win81+wpa81" />
  <package id="EntityFramework.Migrations" version="7.0.0-beta2-11614" targetFramework="portable-win81+wpa81" />
  <package id="EntityFramework.Relational" version="7.0.0-beta2-11614" targetFramework="portable-win81+wpa81" />
  <package id="EntityFramework.SQLite" version="7.0.0-beta2-11614" targetFramework="portable-win81+wpa81" />
  <package id="Ix-Async" version="1.2.3-beta" targetFramework="portable-win81+wpa81" />
  <package id="Microsoft.Data.SQLite" version="1.0.0-beta2-10578" targetFramework="portable-net451+win81+wpa81" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-beta2-10547" targetFramework="portable-net451+win81+wpa81" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta2-10571" targetFramework="portable-net451+win81+wpa81" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta2-10553" targetFramework="portable-net451+win81+wpa81" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-beta2-10553" targetFramework="portable-net451+win81+wpa81" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta2-10550" targetFramework="portable-net451+win81+wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable-win81+wpa81" />
  <package id="Remotion.Linq" version="1.15.15.0" targetFramework="portable-win81+wpa81" />
  <package id="SQLitePCL" version="3.8.5.1" targetFramework="portable-win81+wpa81" />
  <package id="System.Collections.Immutable" version="1.1.32-beta" targetFramework="portable-win81+wpa81" />
  <package id="System.Data.Common" version="1.0.0-beta2-10523" targetFramework="portable-net451+win81+wpa81" />
</packages>