<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- このキーはリソース グループ 'Default-ApplicationInsights-CentralUS' の Application Insights のリソース 'AwfulForumsReader-UAP' に対応するものです -->
  <InstrumentationKey>0d9528b2-6823-4148-8a18-09f8cda4dd4b</InstrumentationKey>
</ApplicationInsights>