<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="win81" userInstalled="true" />
  <package id="AwfulForumsLibrary" version="0.0.9" targetFramework="win81" userInstalled="true" />
  <package id="HtmlAgilityPack-PCL" version="1.4.6" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights" version="0.17.0" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="0.14.3-build00177" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.13.0-build26067" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.WindowsApps" version="0.14.3-build00177" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.WindowsStore" version="0.13.0-build26067" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.16-beta" targetFramework="win81" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="win81" userInstalled="true" />
  <package id="PCLStorage" version="1.0.2" targetFramework="win81" userInstalled="true" />
  <package id="SQLite.Core.Universal" version="3.8.11.2" targetFramework="win81" userInstalled="true" />
  <package id="SQLite.Net-PCL" version="2.5.1" targetFramework="win81" userInstalled="true" />
  <package id="SQLite.Net.Async-PCL" version="2.5.1" targetFramework="win81" userInstalled="true" />
  <package id="SQLite.WinRT" version="3.8.11.3" targetFramework="win81" userInstalled="true" />
  <package id="SQLite.WinRT.UAP" version="3.8.11.3" targetFramework="win81" userInstalled="true" />
  <package id="SQLiteNetExtensions" version="1.2.5" targetFramework="win81" userInstalled="true" />
  <package id="SQLiteNetExtensions.Async" version="1.2.4" targetFramework="win81" userInstalled="true" />
</packages>